<script>
import { mapState, mapActions } from 'vuex';
import List from './List';
import Loading from './icons/Loading';

export default {
  components: {
    List,
    Loading
  },
  computed: {
    ...mapState(['isLoading', 'issues', 'mrsAssignedToMe']),
  },
  methods: {
    ...mapActions(['fetchIssues', 'fetchAssignedMRs']),
  },
  mounted() {
    this.fetchIssues();
    this.fetchAssignedMRs();
  },
}
</script>

<template>
  <div class="Dashboard">
    <div class="Loading" v-if="isLoading">
      <loading/>
    </div>
    <template v-if="!isLoading">
      <list
        title="My issues"
        subtitle="issues"
        :icon-number="1"
        :items="issues"
      />
      <list
        title="MRs assigned to me"
        subtitle="merge requests"
        :icon-number="2"
        :items="mrsAssignedToMe"
      />
      <list 
          title="MRs opened by me"
          subtitle="merge requests"
          :icon-number="2"
          :items="[]"/>
    </template>
  </div>
</template>

<style>
@import url("/src/assets/variable.css");
.Dashboard {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--gutter) * 2);
  padding-right: calc(var(--gutter) * 2);
  max-width: var(--max-width);
}
.Dashboard .Loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 765px) {
  .Dashboard {
    flex-direction: column;
  }
}
</style>
