<script>
import IssueIcon from "./icons/Issue";
import MergeRequestIcon from "./icons/MergeRequest";

export default {
  props: {
    title: {
      type: String,
      required: true
    },
     subtitle: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    iconNumber: {
      type: Number,
      required: true
    }
  },
  components: {
    IssueIcon,
    MergeRequestIcon
  },
  methods: {
    formatDate(date) {
      const openDate = new Date(date);
      return (
        openDate.toLocaleDateString() + ' ' + openDate.toLocaleTimeString()
      );
    }
  }
};
</script>

<template>
  <div class="deck">
    <div class="deck__title">
    <h3>{{title}}</h3>
    <div class="icon">
      <issue-icon v-if="iconNumber === 1"/>
      <merge-request-icon v-if="iconNumber === 2"/>
    </div>
    </div>
    <hr>
    <div class="no-items" 
         v-if="items.length === 0">
         There are no {{subtitle}} to show
    </div>
    <ul class="deck__list">
      <li
        v-for="item in items"
        :key="item.id"
      >
        <a
          :href="item.web_url"
          target="_blank"
        >
          {{item.title}}
        </a>
        <span>
          <img class="avatar" :src="item.author.avatar_url" alt="">
          <b>{{ item.author.username }} - {{ formatDate(item.created_at) }} </b>
        </span>
      </li>
    </ul>
  </div>
</template>

<style>
@import url("/src/assets/variable.css");

.deck {
  max-width: calc((100% / 3) - (var(--gutter) * 2));
  width: calc((100% / 3) - (var(--gutter) * 2));
  padding: 0;
  border: 1px solid var(--hover-color);
  border-radius: var(--border-radius);
}

.deck .deck__title {
  display: flex;
  align-items: baseline;
  text-transform: capitalize;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  background: var(--hover-color);
}
.deck .deck__title h3 {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: calc(var(--gutter) * 1.5);
}
.deck .no-items {
  color: var(--text-color);
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: normal;
  margin-top: 20%;
  font-weight: 600;
}
.deck .deck__title .icon {
  width: 22px;
  height: 100%;
  margin-left: calc(var(--gutter) / 2);
  fill: #fff;
  transform: translateY(3px);
}
.deck hr {
  border-color: var(--hover-color);
  margin: 0;
}

.deck .deck__list {
  padding: 0;
}
.deck .deck__list li {
  list-style: none;
  margin-bottom: 10px;
  padding: calc(var(--gutter) / 4) var(--gutter);
  min-height: 20px;
}
.deck .deck__list li:not(:last-child) {
  border-bottom: 1px solid var(--hover-color);
}
.deck .deck__list li a {
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
  border-radius: var(--border-radius);
  width: auto;
  display: inline-block;
  line-height: 40px;
  letter-spacing: normal;
}
.deck .deck__list li a:hover {
  color: var(--span-color);
  opacity: 0.8;
}
.deck .deck__list li span {
  font-size: 13px;
  font-style: italic;
  color: var(--text-color);
  display: flex;
  margin-bottom: var(--gutter);
  align-items: center;
}
.deck .deck__list li span b {
  opacity: 0.4;
}
.deck .deck__list li .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: calc(var(--gutter) / 2);
}
@media (max-width: 765px) {
  .deck {
    max-width: 100%;
    width: 100%;
    margin-bottom: calc(var(--gutter) * 2);
  }
  .deck .no-items {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
</style>
