<script>
import Dashboard from './components/Dashboard';
import GitlabHeader from './components/Header';

export default {
  name: 'GitLabTab',
  components: {
    Dashboard,
    GitlabHeader,
  }
}
</script>

<template>
  <div id="app">
    <gitlab-header/>
    <dashboard />
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import url('/src/assets/variable.css');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: var(--gitlab-color);
}
</style>
